<header class="header">
    <div class="container">
        <div class="header_inner">
            <nav class="nav">
                
                <a class="nav_link" href="/create">Создать</a>
                
                {{!-- {{#if table}}
                <a class="nav_link_active" href="/table">Карты</a>
                {{else}}
                <a class="nav_link" href="/table">Карты</a>
                {{/if}}
                {{#if coupon}}
                <a class="nav_link_active" href="/coupons">Купоны</a>
                {{else}}
                <a class="nav_link" href="/coupons">Купоны</a>
                {{/if}}
                {{#if history}}
                <a class="nav_link_active" href="/history">История</a>
                {{else}}
                <a class="nav_link" href="/history">История</a>
                {{/if}}
                {{#if ratingcheck}}
                <a class="nav_link_active" href="/rating">Оценки</a>
                {{else}}
                <a class="nav_link" href="/rating">Оценки</a>
                {{/if}} --}}
            </nav>
        </div>
    </div>
</header>