<div class="applications">
    <form action="/send_application" method="POST">
        <div class="applications_header">
            <h1 style="color:#F2A83B;">Запишитесь на ремонт прямо сейчас!</h1>
            <h2 style="color: #B9B9B9; margin-bottom:30px">Осталось лишь заполнить заявку</h2>
        </div>
        <div class="applications_input">
            <div class="applications_left">
                <input placeholder="ФИО" type="text" name="fio" value='{{fio}}'>

                <input placeholder="Номер телефона" type="text" name="phone_number" value={{phone}}>

                <input placeholder="Дата Вашего визита" type="text" id="txtbox" name="date_visit">

                <textarea id="comment" placeholder="Комментарий" type="text" name="comment"></textarea>
            </div>
            <div class="applications_right">
                <div class="applications_right_inputs">
                    <div style="display: flex; flex-direction: row">
                        <select style="border-radius:10px 0 0 0" name="device_type">
                            <option value="0" selected>Смартфон</option>
                            <option value="1">Планшет</option>
                        </select>

                        <select style="border-radius:0 10px 0 0" name="defect" id="defect">
                            <option value="Дисплей">Дисплей</option>
                            <option value="Батарея">Батарея</option>
                            <option value="Кнопки">Кнопки</option>
                            <option value="Порт зарядки">Порт зарядки</option>
                            <option value="Камера">Камера</option>
                            <option value="Плата">Плата</option>
                        </select>
                    </div>

                    <div style="display: flex; flex-direction: row">
                        <div onmouseenter="show()" onmouseleave="hide()" id="brand_box" class="brand_box">
                            <input style="border-radius:0 0 0 10px" name="brand" type="text" placeholder="Бренд.."
                                id="brand" onkeyup="filterFunction()">
                            <div class="hidden_box" id="hidden_box">

                                <a onclick="get('Apple')">Apple</a>

                                <a onclick="get('Samsung')">Samsung</a>

                                <a onclick="get('Xiaomi')">Xiaomi</a>

                                <a onclick="get('Huawei')">Huawei</a>
                            </div>
                        </div>

                        <div onmouseenter="show_model()" onmouseleave="hide_model()" id="model_box" class="model_box">
                            <input style="border-radius:0 0 10px 0" name="model" type="text" placeholder="Модель.."
                                id="model" onkeyup="filterFunction_model()">
                            <div class="hidden_box" id="hidden_box_model_apple">
                                
                                    <a onclick="get_model('IPhone 5')">IPhone 5</a>
                                    <a onclick="get_model('IPhone 6')">IPhone 6</a>
                                    <a onclick="get_model('IPhone 7')">IPhone 7</a>
                                    <a onclick="get_model('IPhone 8')">IPhone 8</a>
                                    <a onclick="get_model('IPhone X')">IPhone X</a>
                                    <a onclick="get_model('IPhone XS')">IPhone XS</a>
                                    <a onclick="get_model('IPhone XS Max')">IPhone XS Max</a>
                               
                                    <a onclick="get_model('IPhone 11')">IPhone 11</a>
                                    <a onclick="get_model('IPhone 11 Pro')">IPhone 11 Pro</a>
                                    <a onclick="get_model('IPhone 11 Pro Max')">IPhone 11 Pro Max</a>
                                    <a onclick="get_model('IPhone 12')">IPhone 12</a>
                                    <a onclick="get_model('IPhone 12 Pro')">IPhone 12 Pro</a>
                                    <a onclick="get_model('IPhone 12 Pro Max')">IPhone 12 Pro Max</a>
                            </div>
                            <div class="hidden_box" id="hidden_box_model_samsung">
                                <a onclick="get_model('S5')">S5</a>
                                <a onclick="get_model('S6')">S6</a>
                                <a onclick="get_model('S7')">S7</a>
                                <a onclick="get_model('S8')">S8</a>
                                <a onclick="get_model('S9')">S9</a>
                                <a onclick="get_model('S10')">S10</a>
                                <a onclick="get_model('S20')">S20</a>
                            </div>
                            <div class="hidden_box" id="hidden_box_model_xiaomi">
                                <a onclick="get_model('MI 11')">Mi 11</a>
                                <a onclick="get_model('MI 11 Pro')">Mi 11 Pro</a>
                            </div>
                            <div class="hidden_box" id="hidden_box_model_huawei">
                                <a onclick="get_model('Mate 40')">Mate 40</a>
                                <a onclick="get_model('Mate 40 Pro')">Mate 40 Pro</a>
                            </div>
                        </div>

                    </div>
                </div>
                <button id="chel"
                    style="width: 300px; height: 27px; border-radius:5px; border:none;background-color:#F2A83B; color:#fff; margin-top:50px;"
                    type="button" onclick="price()">Узнать приблизительную стоимость</button>
                <div id="itog"></div>
                <button
                    style="width: 300px; height: 60px; border-radius:5px; border:none;background-color:#F2A83B; color:#fff; margin-top:30px"
                    type="submit">Оформить заявку</button>
                <input type="hidden" name="approximate_cost" id="approximate_cost">
            </div>
            <script>
                var dtt = document.getElementById('txtbox')
                dtt.onfocus = function (event) {
                    this.type = 'datetime-local';
                    this.focus();
                }

                function price() {

                    var myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");
                    let brand = document.getElementById("brand").value
                    let model = document.getElementById("model").value
                    let defect = document.getElementById("defect").value
                    var raw = JSON.stringify({
                        brand,
                        model,
                        defect
                    });

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: raw,
                        redirect: 'follow'
                    };

                    fetch("http://localhost:2000/show_price", requestOptions)
                        .then(response => response.text())
                        .then(result => {

                            itog = document.getElementById("itog");
                            itog.innerHTML = "<p style='text-align:center'>Приблизительная стоимость Вашего ремонта:<br> " + JSON.parse(result).price + " рублей</p>";
                            document.getElementById('approximate_cost').value = JSON.parse(result).price
                        })
                        .catch(error => console.log('error', error));


                }
                //brands
                function show() {
                    document.getElementById('hidden_box').classList.toggle("box");
                }
                function hide() {
                    document.getElementById('hidden_box').classList.remove("box");
                }
                function get(name) {
                    document.getElementById("model").value = ''
                    input = document.getElementById("brand");
                    input.value = name
                }

                function filterFunction() {

                    var input, filter, ul, li, a, i;
                    input = document.getElementById("brand");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("brand_box");
                    a = div.getElementsByTagName("a");
                    for (i = 0; i < a.length; i++) {
                        txtValue = a[i].textContent || a[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            a[i].style.display = "";
                        } else {
                            a[i].style.display = "none";
                        }
                    }
                }
                //models
                function show_model() {
                    brand_input = document.getElementById("brand").value
                    if (brand_input == 'Apple') {
                        document.getElementById('hidden_box_model_apple').classList.toggle("box");
                    }
                    if (brand_input == 'Samsung') {
                        document.getElementById('hidden_box_model_samsung').classList.toggle("box");
                    }
                    if (brand_input == 'Xiaomi') {
                        document.getElementById('hidden_box_model_xiaomi').classList.toggle("box");
                    }
                    if (brand_input == 'Huawei') {
                        document.getElementById('hidden_box_model_huawei').classList.toggle("box");
                    }

                }
                function hide_model() {
                    brand_input = document.getElementById("brand").value
                    if (brand_input == 'Apple') {
                        document.getElementById('hidden_box_model_apple').classList.remove("box");
                    }
                    if (brand_input == 'Samsung') {
                        document.getElementById('hidden_box_model_samsung').classList.remove("box");
                    }
                    if (brand_input == 'Xiaomi') {
                        document.getElementById('hidden_box_model_xiaomi').classList.remove("box");
                    }
                    if (brand_input == 'Huawei') {
                        document.getElementById('hidden_box_model_huawei').classList.remove("box");
                    }
                }
                function get_model(name) {
                    var input = document.getElementById("model");
                    input.value = name
                }

                function filterFunction_model() {
                    var input, filter, ul, li, a, i;
                    input = document.getElementById("model");
                    filter = input.value.toUpperCase();
                    div = document.getElementById("model_box");
                    a = div.getElementsByTagName("a");
                    hidden_apple = document.getElementById('hidden_box_model_apple')
                    hidden_samsung = document.getElementById('hidden_box_model_samsung')
                    hidden_xiaomi = document.getElementById('hidden_box_model_xiaomi')
                    hidden_huawei = document.getElementById('hidden_box_model_huawei')
                    brand_input = document.getElementById("brand").value
                    if (brand_input == 'Apple') {
                        hidden_apple.classList.toggle('box')
                    }
                    if (brand_input == 'Samsung') {
                        hidden_samsung.classList.toggle('box')
                    }
                    if (brand_input == 'Xiaomi') {
                        hidden_xiaomi.classList.toggle('box')
                    }
                    if (brand_input == 'Huawei') {
                        hidden_huawei.classList.toggle('box')
                    }

                    for (i = 0; i < a.length; i++) {
                        txtValue = a[i].textContent || a[i].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            a[i].style.display = "";
                        } else {
                            a[i].style.display = "none";
                        }
                    }
                }


            </script>
        </div>

    </form>
</div>