<form action="/send_application" method="POST">
    <h3>Create massiv</h3>
    <div>
        <label>Название</label>
        <input type="text" name="name">
    </div>
    <button type="submit">Create!!!</button>
</form>