<form action="/send_application" method="POST">
    <h1>Запишитесь на ремонт прямо сейчас!</h1>
    <div>
        <label>Номер телефона</label>
        <input type="text" name="phone_number" value={{phone}}>

        <label>Тип устройства</label>
        <select name="device_type">
            <option value="0" selected>Смартфон</option>
            <option value="1">Планшет</option>
        </select>
        <div onmouseenter="show()" onmouseleave="hide()" id="select_box" class="select_box">
            <input name="brand" type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
            <div class="hidden_box" id="hidden_box">
                <a onclick="get('Apple')">Apple</a>
                <a onclick="get('Samsung')">Samsung</a>
            </div>
        </div>

        <script>
            /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
            function show() {
                document.getElementById('hidden_box').classList.toggle("box");
            }
            function hide() {
                document.getElementById('hidden_box').classList.remove("box");
            }

            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            function get(name) {
                var input = document.getElementById("myInput");
                input.value = name
            }

            function price() {
                var requestOptions = {
                    method: 'POST',
                    redirect: 'follow'
                };

                fetch("http://localhost:2000/show_price", requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));
            }

            function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("select_box");
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }
        </script>

        <button type="button" onclick="price()">price</button>

        <label>Модель</label>
        <input type="text" name="model">

        <label>Поломка</label>
        <input type="text" name="defect">

        <label>Дата Вашего визита</label>
        <input type="datetime-local" name="date_visit">

        <label>Комментарий</label>
        <input type="text" name="comment">

    </div>
    <button type="submit">Create!!!</button>
</form>