<form class="enter" action="login" method="post">
    <h1 style="color:#F2A83A; margin-top:35px;margin-bottom:20px;">Вход</h1>

    <input placeholder="Логин" class="search_link" name="username" type="text">

    <input placeholder="Пароль" class="search_link" type="password" name="password" type="text">

    <br>
    <button class="btn" style="margin-top: 20px;"
        type="submit">Войти</button>

    <a style="color: #777373; text-decoration:none; margin-top:10px; " href="/registration_page">Зарегистрироваться</a>
</form>