<div class="main_container">
    <div class="main_box">
        <h1 style="margin-bottom:50px">Возникли проблемы с мобильным устройством?</h1>
        <ul>
            <li style="margin-bottom:20px">Проведем бесплатную диагностику в нашем сервисе в<br> течение 10 минут после обращения</li>

            <li style="margin-bottom:20px">Гарантийная ответственность</li>

            <li style="margin-bottom:20px">Качество обслуживания</li>

            <li>Доступность цены</li>
        </ul>
    </div>
    <img src="/repair-phone.png" alt="">
</div>