<h2>Create page</h2>

{{#if massiv.length}}
<ul>
    {{#each massiv}}
    <li>
        <label>
            {{#if completed}}
                <input type="checkbox" checked>
                <h5>{{name}}</h5>
            {{else}}
                <input type="checkbox" name="" id="">
                <span>{{name}}</span>
            {{/if}}


            <button>create</button>
        </label>
    </li>
    {{/each}}
</ul>
{{else}}
<h3>pustoi massiv</h3>
{{/if}}