<div class="main_container">
    <div class="main_left">
        <h1 class="main_page_header">Ремонт смартфонов по всей России</h1>
        <ul style="list-style-position: inside;">
            <li>Быстро<br></li>
            
            <li>Качественно</li>
            
            <li>Не дорого</li>
        </ul>
    </div>
    <div class="main_right">
        <img src="/service.jpg" width="750px" height="500px" alt="">
    </div>
</div>


