body {
    background: #FFFFFF
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito Sans, sans-serif;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
} */

:root {
    --clr: #222327;
}



/*-----------------------------------------------------------Containers*/

.container {
    /* text-align: center; */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

/* -----------------------------------------Main */
.main_container {
    height: 500px;
    display: flex;
    background: #4F4F4F;
    justify-content: space-between;
}

.main_box {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-left: 100px;
    margin-top: 30px;
}

.main_box ul {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    list-style-type: none;
}

.main_box li {
    padding-left: 100px;
    margin-bottom: 30px;
    background-image: url(Group.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 60px;
    display: flex;
    align-items: center;
}

.main_button {
    display: flex;
    justify-content: center;
    margin-top: -35px;
}

.contacts {
    display: flex;
    justify-content: space-between;
    margin: 150px 80px;
}

.contacts_left p{
    display: flex;
    flex-direction: column;
    color: #000000;
    
}

/*-----------------------------------------------------------Header*/

.applications{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.applications_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.applications_input{
    display: flex;
    flex-direction: row;
    width: 840px;
    height: 430px;
    justify-content: center;
    border: #000000 1px solid;
    border-radius: 10px;
}
.applications_input input{
    width: 310px;
    height: 46px;
    border: none;
    background-color: #EBEBEB;
    padding: 0 25px;
    overflow: none;
    border-radius: 10px;
    margin-bottom:15px;
}

#comment{
    width: 310px;
    height: 120px;
    border: none;
    background-color: #EBEBEB;
    padding: 10px 25px;
    overflow: none;
    border-radius: 10px;
    margin-bottom:15px;
    
}

.applications_input select{
    width: 155px;
    height: 46px;
    border: none;
    background-color: #EBEBEB;
    padding: 0 20px;
}
.applications_left{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.applications_right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.applications_right_inputs{
    display: flex;
    flex-direction: column;
    width: 310px;
    height: 94px;
    border: #000000 1px solid;
    border-radius: 10px;
}
.applications_right_inputs input{
    width: 154px;
    height: 46px;
}

/*-----------------------------------------------------------Header*/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr);
    min-height: 20vh;
}


/*-----------------------------------------------------------Footer*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr);
    min-height: 20vh;
}

.footer_nav a {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #B4B4B4;
    text-decoration: none;
    margin-right: 35px;
}

.footer_nav a:last-child {
    margin-right: 0;
}



/*----------------------------------------------------------Navigation*/

.nav {
    position: relative;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;

    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;

}

.nav ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
    margin-right: 50px;
}

.nav ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 600;
}

.nav ul li a .icon {
    position: relative;
    display: block;
    line-height: 50px;
    font-size: 1.5em;
    color: var(--clr);
}

.nav ul li.active a .icon {
    transform: translateY(-32px);
}

.nav ul li a .text {
    position: absolute;
    color: var(--clr);
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.03em;
    transform: translateY(30px);
}

.nav ul li.active a .text {
    opacity: 1;
    transform: translateY(20px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: orange;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: .5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: 0px -10px 0 0 var(--clr);
}

.nav ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(120px * 0));
}

.nav ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(120px * 1));
}

.nav ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(120px * 2));
}

.nav ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(120px * 3));
}

.nav ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(120px * 4));
}

/* -----------------------------------------------------Таблицы */
#myTable {
    margin: 50px 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    border: 2px solid rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 10px;
    background-color: #e8e6e6;

}

#myTable th {
    text-align: center;
    justify-content: center;

    border-right: 1px solid rgba(0, 0, 0, .5);
    text-transform: uppercase;
    
    top: 0;
    height: 64px;

}

#myTable td {
    text-align: center;
    /* padding: 12px; */
    border-right: 1px solid rgba(0, 0, 0, .5);
}

#myTable tr {
    /* background-color: #f0f0f0; */
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    background-color: white;
}

#myTable tr:hover {
    background-color: #B4B4B4;
}

.hidden_box {
    display: none;
}

.box {
    display: block;
}